.star {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    background-image: url(../images/star_noactive.png);
    background-repeat: no-repeat;
}
.star:hover, .star:hover~.star, .star_input:checked  + .star {
    background-image: url(../images/star_active.png);
}
.star_input {
    display: none;
}
.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}